/* .modal {
}
.modal-footer {
  padding-right: 32px;
  padding-left: 32px; }
  .modal-footer .btn + .btn {
    margin-left: 16px; }

.modal-heading {
  padding-top: 24px;
  padding-right: 32px;
  padding-left: 32px;
  position: relative; }

.modal-inner {
  padding-right: 32px;
  padding-left: 32px; }
  .modal  {
      margin-right: -16px;
      margin-left: -16px; 
      }


.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
} 

.modal-dialog {
  width: 98%;
  height: 92%;
  padding: 0;
}

.modal-content {
  height: 99%;
} */